@font-face {
    font-family: "myFont";
    src: url(../Iansui-Regular.ttf);
}

$themeColor: #ca86cf;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "myFont", DFkai-sb, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

body {
    img.fixed-image {
        min-height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -5;
        bottom: 0;
        left: 0;
    }

    header {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        // position: sticky;
        // top: 0;
        // z-index: 10;

        box-shadow: 0 10px 6px -6px #777;

        section.logo {
            flex: 2 1 400px;
            // border: 2px solid green;
            display: flex;
            align-items: center;

            h1 {
                font-size: 2.5rem;
            }

            img {
                width: 6vw;
                height: 6vw;
            }
        }

        nav {
            flex: 5 1 500px;
            // border: 2px solid orange;

            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-around;

                li {
                    a {
                        color: #000;
                        text-decoration: none;
                        font-size: 1.35rem;
                        transition: all 0.2s ease;

                        &:hover {
                            color: $themeColor;
                            border-bottom: 2px solid #ca86cf;
                            padding-bottom: 0.3rem;
                        }
                    }
                }
            }
        }
    }

    main {
        section.background-img {
            min-height: 70vh;
            background-image: url(../p2-0資源包/images/日本櫻花.jpg);
            background-size: cover;
            transition: all 0.75s ease;
            position: relative;
            z-index: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            div.filter {
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                min-height: 70vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

            }

            h3 {
                color: #fff;
                font-size: 2.5rem;
                text-align: center;
            }
        }

        section.info-circles {
            background-color: #fff;
            padding: 2rem 1rem;

            h3 {
                text-align: center;
                font-size: 2rem;
                padding: 1rem;
            }

            div.circles {
                // border: 2px solid #000;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                div.circle {
                    padding: 1rem;
                    // border: 3px solid red;
                    flex: 0 1 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 80%;
                        border-radius: 50%;
                        transition: all 0.1s ease-in;
                        padding: 0.3rem;

                        &:hover {
                            border: 3px solid #ca86cf;
                        }
                    }

                }
            }

        }

        section.empty-container {
            min-height: 70vh;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                text-align: center;
                font-size: 2rem;
                color: #fff;
                padding: 1rem;
            }
        }

        section.google-map {
            background-color: #fff;
            text-align: center;
            padding: 2rem 1rem;
            // border: 2px solid #000;

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.25rem;
                margin: 1rem;
            }

            iframe {
                width: 100%;
                height: 40vh;
            }
        }

    }

    footer {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);

        section.logo {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 15vw;
            }

            h3 {
                font-size: 2.5rem;
                color: #fff;
            }
        }

        section.link {
            a {
                img {
                    width: 3vw;
                    margin: 0rem 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    body {
        header {
            section.logo {
                flex-direction: column;

                img {
                    width: 30vw;
                    height: 30vw;
                }
            }

            nav {
                ul {
                    flex-direction: column;

                    li {
                        padding: 0.5rem 0.25rem;
                    }
                }


            }


        }

        footer {
            section.logo {
                img {
                    width: 30vw;
                }
            }

            section.link {
                a {
                    img {
                        width: 10vw;
                    }
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ca86cf;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ca86cf;
  }